audit=false
cafile=/etc/ssl/certs/ca-certificates.crt
always-auth=true
strict-ssl=false
email=mkpankratov@dev.vtb.ru
registry=https://sfera.inno.local/app/repo-ci-npm/api/repository/${NPM_REPO}
//npm.repo-ci.sfera.inno.local/repository/:_auth="dnRiNDEwNzM2NkBjb3JwLmRldi52dGI6R3VhcmRzIUd1QHJkczU1JQ=="
@vtb:registry=https://npm.repo-ci.sfera.inno.local/repository/${NPM_REPO}
//sfera.inno.local:_auth="dnRiNDEwNzM2NkBjb3JwLmRldi52dGI6R3VhcmRzIUd1QHJkczU1JQ=="
@vtb-omni:registry=https://sfera.inno.local/app/repo-ci-npm/api/repository/cibc-npm/
//sfera.inno.local/app/repo-ci-npm/api/repository/:_auth="dnRiNDEwNzM2NkBjb3JwLmRldi52dGI6R3VhcmRzIUd1QHJkczU1JQ=="
loglevel=notice
